/* Global styles */
:root {
    /* Color variables */
    --background-color: #fefefe;
    --text-color: #1c1c1c;
    --second-background-color: rgb(238, 239, 239);
    --button-color: #FFA500;
    --hover-color: var(--background-color);
    --hover-text-color: var(--text-color);
}

/* Set styles for HTML and body elements */
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: var(--text-color);
    text-align: center;
}

/* Heading styles */
.heading {
    /* Centered and styled heading */
    width: 60%;
    margin: 50px auto;
    text-align: center;
    font-size: 5.5rem;
    padding: 10px;
    color: var(--button-color);
    background-color: var(--second-background-color);
    border-radius: 5px;
}

/* Game area styles */
.game-area {
    /* Centered game area */
    width: 60%;
    margin: 1% auto;
    text-align: center;
    background-color: var(--second-background-color);
    padding: 10px;
    border-radius: 5px;
}

/* Choice elements layout */
.choices {
    display: flex;
    justify-content: space-evenly;
}

.choice {
    /* Styling for user and computer choices */
    text-align: center;
    margin: 10px;
}

.user, .computer {
    /* Styling for user and computer choice text */
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--second-background-color);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.choice img {
    /* Styling for choice images */
    max-width: 100%;
    border-radius: 10px;
}

/* Button styles */
button {
    /* Reset default button styles */
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.game-button {
    /* Styling for game buttons */
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin: 2px;
}

.game-button:hover {
    /* Button hover effect */
    background-color: var(--hover-color);
    color: var(--hover-text-color);
}

.instruction-button {
    /* Styling for instruction button */
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.instruction-button:hover {
    /* Instruction button hover effect */
    background-color: var(--hover-color);
    color: var(--hover-text-color);
}

.refresh {
    /* Styling for the refresh button container */
    padding: 10px;
}

.refresh-button {
    /* Styling for the refresh button */
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    margin: 0 auto;
}

.refresh-button:hover {
    /* Refresh button hover effect */
    background-color: var(--hover-color);
    color: var(--hover-text-color);
}

/* Score and result styles */
.score {
    /* Styling for score display */
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 60%;
    margin: 1% auto;
    text-align: center;
    background-color: var(--second-background-color);
    padding: 1px;
}

/* Footer styles */
footer {
    /* Styling for the footer */
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-width: 80px;
    padding-top: 5px;
    text-align: center;
    color: var(--background-color);
}

/* Instructions popup styles */
.popup {
    /* Styling for the instructions popup */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
}

.popup-content {
    /* Styling for the popup content */
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.close-button {
    /* Styling for the close button */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Media queries */
@media (max-width: 875px) {
    /* Responsive styles for screens under 875px */
    .heading {
        font-size: 3rem;
    }
}

@media (max-width: 475px) {
    /* Responsive styles for screens under 475px */
    .heading {
        font-size: 2rem;
    }
}
