/* Global style */

:root {
    --background-color: #fefefe;
    --text-color: #445361;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: var(--text-color);
    text-align: center;
}


/* Heading */

.heading {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 5.5rem;
    color: var(--text-color);
    /* background-color: aquamarine; */
}

.game-area{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}

.choices {
    display: flex; 
    justify-content:space-around; 
    /* background-color: #445361; */
}

.choice {
    text-align: center; 
    margin: 10px; 
    
}

.user{
    color: #fefefe;
    background-color: #445361;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
   border-radius: 5px;
   width: 50%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
  
}

.computer{
    color: #fefefe;
    background-color: #445361;
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.choice img {
    max-width: 100%; 
    border-radius:10px;
}


/* All the buttons of the game */

button{
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.game-button{
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 1rem; 
    border: 2px solid #333; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
}

.game-button:hover {
    background-color: #fff; 
    color: #333; 
}

.instruction-button{
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 1rem; 
    border: 2px solid #333; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
}

.instruction-button:hover {
    background-color: #fff; 
    color: #333; 
}

.refresh-button{
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 1rem; 
    border: 2px solid #333; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.refresh-button:hover {
    background-color: #fff; 
    color: #333; 
}

/* .results{
    color: #fefefe;
    background-color: #445361;
    font-size: 1.2rem;
    padding: 5px;
   border-radius: 5px;
   width: 50%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
} */

footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-width: 80px;
    padding-top: 5px;
    text-align: center;
    color: var(--background-color);
}


.popup {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
}

.popup-content {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}






h1 {
    color: #333;
}

#game {
    margin-top: 20px;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#result p {
    margin: 10px 0;
}