/* Global style */
:root {
    --background-color: #fefefe; 
    --text-color: #1c1c1c; 
    --second-background-color: rgb(238, 239, 239); 
    --button-color: #FFA500; 
    --hover-color: var(--background-color);
    --hover-text-color: var(--text-color); 
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: var(--text-color);
    text-align: center;
}

/* Heading */
.heading {
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 5.5rem;
    padding: 10px;
    color: var(--button-color);
    background-color: var(--second-background-color);
    border-radius: 5px;
}

.game-area {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    background-color: var(--second-background-color);
    padding: 10px;
    border-radius: 5px;
}

.choices {
    display: flex;
    justify-content: space-evenly;
}

.choice {
    text-align: center;
    margin: 10px;
}

.user {
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--second-background-color);
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.computer {
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--second-background-color);
    font-size: 1.2rem;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.choice img {
    max-width: 100%;
    border-radius: 10px;
}

/* All the buttons of the game */
button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.game-button {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.game-button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.instruction-button {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.instruction-button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.refresh{
    padding: 10px;
}

.refresh-button {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.refresh-button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* result and score */
.score {
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    background-color: var(--second-background-color);
    padding: 1px;
  }

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-width: 80px;
    padding-top: 5px;
    text-align: center;
    color: var(--background-color);
}

/* instructions popup window */
.popup {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
}

.popup-content {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#game {
    margin-top: 20px;
}

#result {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

#result p {
    margin: 10px 0;
}

.level-selection{
    padding: 10px;
}

.game {
    font-weight: bold;
}

/* Media query to hide the heading on screens under 600px */
@media (max-width: 600px) {
    .heading {
        display: none;
    }
}